[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-environ = "*"
channels = {extras = ["daphne"], version = "*"}
django-nextjs = "*"
playwright = "*"
django-celery-results = "*"
django-celery-beat = "*"
celery = "*"
redis = "*"
nest-asyncio = "*"
gevent = "*"
pyinstaller = "*"

[dev-packages]
black = "*"
ipython = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.12"
